<h1>Listing sports_insatnces</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sports_insatnces.each do |sports_insatnce| %>
      <tr>
        <td><%= link_to 'Show', sports_insatnce %></td>
        <td><%= link_to 'Edit', edit_sports_insatnce_path(sports_insatnce) %></td>
        <td><%= link_to 'Destroy', sports_insatnce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sports insatnce', new_sports_insatnce_path %>
