<%= form_for(@sport_instance) do |f| %>
  <% if @sport_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport_instance.errors.count, "error") %> prohibited this sport_instance from being saved:</h2>

      <ul>
      <% @sport_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
