<h1>Listing sport_instances</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sport_instances.each do |sport_instance| %>
      <tr>
        <td><%= link_to 'Show', sport_instance %></td>
        <td><%= link_to 'Edit', edit_sport_instance_path(sport_instance) %></td>
        <td><%= link_to 'Destroy', sport_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport instance', new_sport_instance_path %>
