// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  vertical-align: baseline;
}

body {
  background-color: #5C85D6;
  /*background: url("/Users/emma_christie/Desktop/getInShape/pages/balls.jpg");*/
    background-size: cover;
    background-position: left center;
    background-repeat: repeat;
    background-attachment: scroll;
  font-size: 22px;
  
}

h1 {
	color: #99CCFF;
	text-align: center;
	margin-bottom: 20px;
    font-size: 38px;
    margin-top: 60px;

}

h2{
	font: Arial;
	color: black;
	text-align: left;
	margin-bottom: 10px;
	font-size: 25px;
	color: #99CCFF
}


ul {
	text-align: left;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
}

li{
	float: left;
}

p {
	margin-left: 5px;
	padding:10px;
}

#aside {
	color: #5C85D6;
	text-indent: 10px;
	font-weight: lighter;
	font-size: 18px;
}

.bullets {
	color: black;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.field {
	margin-left: 10px;
	margin-bottom: 10px;
}

a {
	display: block;
	width: 100px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.white{
	color: white;
}

.black {
  color: black;
}

.top{
	background-color: #99CCFF;
	box-shadow: 0px 10px 20px 0px #888888;
}

#wrapper {
  width: 720px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

nav {
	
	width: 1280px
}

img{
	width: 20px;
	height: 20px;
	float: left;
	display: block;
	padding-top: 12px;
	padding-left: 8px;
}

#me{
	padding-left: 0px;
}

#logo{
	width: 120px;
	padding-right: 500px;
	padding-left: 20px;
	color: white;

}
#melist{
	width-left: 50px;
}

input{
    border: 5;
    padding: 5px;
    font-size: 15px;
}
input[type="submit"] {
    background: limegreen;
    color:black;
    padding: 12px;
}
input[type="button"] {
    background: limegreen;
    color:black;
    padding: 12px;
}

